<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976408078560-4huo14a72ts8tfvr719gjhts4h8o1ads.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976408078560-4huo14a72ts8tfvr719gjhts4h8o1ads</string>
	<key>API_KEY</key>
	<string>AIzaSyA4ZzIlh3eZMY92LHX44V8Spc70a7YJCbg</string>
	<key>GCM_SENDER_ID</key>
	<string>976408078560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Soco-Productions.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-933c0</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-933c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:976408078560:ios:6cf61f6047ecedc2</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-933c0.firebaseio.com</string>
</dict>
</plist>